

.ph{

margin-top: 25px;
text-align: center;
color: blue;
font-size: 20px;
font-weight: 700;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   


.container{

margin-top: 45px;
margin-left: 150px;


}
.card{

    
    border-color: lightcoral;
    margin-left: 60;
    text-align: center;

}
.footer{


margin-top: 40px;
background-color: black;
height: 50px;
text-align: center;
padding-top: 10px;
color: cornsilk;
}


.abut,.us{


color: darkblue;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 45px;

}

.pabout{

text-align: justify;


}

.container{



}
.card-body{



    margin: 10px;
}

